.home {
    background-color: antiquewhite;
    background-image: url("/assets/images/fondoPrincipal.png");
    min-height: 88vh;
    display: flex;
    justify-content: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;


    & .home-text {
        width: 40%;
        height: auto;
        padding: 5em 3em 0px;
        font-size: 1rem;
        color: var(--main-color);
        margin: 0.5rem 0 1.4rem;
        
        &  h1{
            font-weight: 500;
            font-style: normal;
        }

        & .btn-principal {
            padding: 10px 40px;
            border-radius: 0.3rem;
            background: var(--main-color);
            color: white;
            font-weight: 500;
        }

        & .btn-principal:hover {
            background: #8a6f4d;
        }
    }
}

@media (min-width: 818px) and (max-width:1110px) {

    .home {
        background-position: bottom center;
    }

}