<section class="home">
    <article class="home-text">
        <h1 class="text-uppercase mb-0 lh-base">Empieza tu día <br> con café</h1>
        <p class="align-middle text-break">
            Café Rosita nos muestra qué la vida es como una taza de café. Todo está en cómo la preparas, pero sobre todo
            en cómo la tomas. Somos una empresa qué satisface a nuestros clientes y brinda los mejores productos al
            mercado.
        </p>
        <button class="btn btn-principal">Comprar ahora </button>
    </article>
</section>
<section class="products-container">
    <app-products-page [arrayLengthToShow]="3"/>
    <a class="btn btn-principal" routerLink="/products" >Ver más</a>
</section>
<section class="history-container">
    <article class="history-content">
        <parragraph-product-history class="text-content" />
        <div class="img-content">
            <img src="../../../../../assets/images/logo_cafe_rosita.png" class="first-image-section">
        </div>
        <div class="btn-content">
            <a class="btn btn-principal" routerLink="/history" >Ver más</a>
        </div>
    </article>
</section>
<h1>epa</h1>