<section class="ubication-container">
  <section class="ubication-header">
    <h1>Ubicación</h1>
    <p>Encuéntranos fácilmente y disfruta del mejor café dondequiera que estés. ☕📍</p>
  </section>
  <section class="ubication-content">
    <section class="ubication-info">
      <article>
        <i class="bi bi-geo-alt"></i>
        <h5>DIRECCIÓN:</h5>
        <p> Chontaduro, La Buitrera, Palmira, Colombia</p>
      </article>
      <article>
        <i class="bi bi-clock"></i>
        <h5>HORARIO:</h5>
        <p> Lunes a Viernes: 9:00 AM - 7:00 PM</p>
      </article>
    </section>
    <div class="map" leaflet [leafletOptions]="options"></div>
  </section>
</section>
