<mat-card >
    <button class="close-modal"><i class="bi bi-x-lg"></i></button>
    <mat-card-header>
       <h2>Buscar productos en nuestro sitio</h2>
    </mat-card-header>
    <mat-card-actions>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese el nombre del producto">
            <button class="btn-search"><mat-icon class="search">search</mat-icon></button>
          </mat-form-field>
    </mat-card-actions>
    <mat-card-content>
        esperando
    </mat-card-content>
</mat-card>