mat-card {
    padding: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 0%;
    width: 100%;
}

mat-card-header {
    margin-bottom: 4em;
    padding: 0;
}

.close-modal {
    align-self: end;
    width: 30px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: inherit;
}

input[matInput] {
    background-color: white;
}

mat-card-actions {
    width: 60%;
}

mat-form-field {
    width: 100%;
}

.btn-search{
position: absolute;
right: 0;
top: 18px;
background-color: inherit;
border: none;
}

.btn-search:hover{
color: brown;
}