.register-options-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin: 1.5em 0px;

    & .register-group {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        & .register-email-btn {
            width: inherit;
            height: 40px;
            max-width: 400px;
            background-color: inherit;
            border: solid 1px #dadce0;
            border-radius: 20px;
            color: #0d0c22;
        }

        & .register-email-btn:hover {
            border: solid 1px #b5bcc9;            
        }

        & .register-divider-container {
            position: relative;
            width: inherit;
            max-width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 20px;

            & .register-divider {
                padding: 0 11px;
            }

        }

        & .register-divider-container::after,
        .register-divider-container::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 45%;
            background-color: #E3E3E3;
        }

        & .register-divider-container::after {
            right: 0;
        }

        & .register-divider-container::before {
            left: 0;
        }
    }


}