@import 'variables';

/* Estilos para el componente mat-card */
mat-card {
  position: relative;
  padding: 12px;
  width: inherit;

  /* Estilo para la etiqueta dentro del mat-card */
  & label {
    font-weight: bolder;
  }
  
  /* Estilo para el botón dentro del mat-card cuando se pasa el mouse por encima */
  & .btn:hover {
    color: $main-color;
  }
}

/* Estilos para mat-card con una clase mat-card-small */
.mat-card-small {
  font-size: 12px;

  & h3 {
    font-size: 1.5em;
  }

  /* Estilo para el botón dentro de mat-card-small */
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    /* Estilo para el icono dentro del botón */
    & mat-icon {
      font-size: 1.3em;
      height: 1em;
      width: 1em;
      padding: 0px;
    }
  }
}
