mat-card {
    position: relative;
    padding: 12px;
    width: inherit;


    & label {
        font-weight: bolder;
    }


    & .btn:hover {
        color: var(--main-color);
    }
}

.mat-card-small {

    font-size: 12px;

    & h3 {
        font-size: 1.5em;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;

        & mat-icon {
            font-size: 1.3em;
            height: 1em;
            width: 1em;
            padding: 0px;

        }
    }

}