<section class="register-options-container">
    <section class="register-group">
        <button class="register-email-btn" (click)="showRegisterFormWithEmailFuction()">Continuar con email</button>
    </section>

    <section class="register-group">
        <div class="register-divider-container">
            <span class="register-divider">o</span>
        </div>
    </section>
    <section id="register-google-btn" class="register-group">
        <div id="google-btn"></div>
    </section>
</section>