<header class="header">
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="logo">
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="#">section 1</a></li>
            <li><a href="#">section 2</a></li>
            <li><a href="#">section 3</a></li>
        </ul>
    </nav>
    <div class="end-nav">
        <div class="search-file">
            <mat-icon class="search">search</mat-icon>
            <input type="text" class="search-input" placeholder="Buscar producto">
        </div>
        <a href="#"><button class="end-btn" matTooltip="Basic"><mat-icon>shopping_cart</mat-icon></button></a>
    </div>
</header>