.header-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 4%;
}

ul {
    padding: 0;
    margin: 0;
}

.header-content .logo {
    cursor: pointer;
    color: black;

    & img {
        height: 60px;
        width: auto;
        background-color: inherit;
    }
}

.header-content .nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;

    & li {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 35px;
        padding: 0px 15px;


        & a {
            text-decoration: none;
            color: black;
            font-size: 17px;
            font-weight: 500;
        }

        & .links-line {
            right: 0;
            bottom: 0;
            position: absolute;
            width: 0;
            height: 2px;
            background-color: rgb(145, 80, 64);
            transition: width 0.7s;
            transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        }

    }

    & li:hover {
        cursor: pointer;

        & a {
            color: rgb(145, 80, 64);
        }

        & .links-line {
            left: 0;
            width: 100%;
        }
    }

}

.header-content .end-nav {
    display: flex;
    gap: 20px;

    & .end-btn {
        height: 35px;
        border: none;
        display: flex;
        align-items: center;
        background-color: inherit;
        font-size: 25px;
    }

    & .end-btn:hover {
        color: rgb(145, 80, 64);
        ;
    }

}

@media (min-width: 818px) and (max-width:1110px) {

    .header-content .nav-links {
        gap: 15px;
    }

}