.header-content {
    height: 100%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 4%;
}

ul {
    padding: 0;
    margin: 0;
}

.header-content .logo {
    cursor: pointer;

    & img {
        height: 60px;
        width: auto;
        background-color: #FBEED5;
    }
}


.header-content .nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
    & li {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 35px;
        padding: 0px 15px;
        

        & a {
            text-decoration: none;
            color: black;
            font-size: 17px;
            font-weight: 500;
        }

        & .links-line {
            right: 0;
            bottom: 0;
            position: absolute;
            width: 0;
            height: 2px;
            background-color: rgb(145, 80, 64);
            transition: width 0.7s;
            transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        }


    }

    & li:hover {
        cursor: pointer;

        & a {
            color: rgb(145, 80, 64);
        }

        & .links-line {
            left: 0;
            width: 100%;
        }
    }

    

   
}


.header-content .end-nav {
    display: flex;
    gap: 20px;

    & .search-file {
        position: relative;

        & .search {
            position: absolute;
            left: 10px;
            top: 6px;
            font-size: 25px;
        }

        & .search-input {
            height: 35px;
            border-radius: 25px;
            padding: 5px 0 5px 35px;
            border: solid 2px white;
            background-color: white;
            transition: border 0.7s ease-in;

        }

        & .search-input:focus {
            outline: none;
            border: solid 2px rgb(145, 80, 64);
        }


    }

    & .end-btn {
        height: 35px;
        border: none;
        display: flex;
        align-items: center;
        background-color: inherit;
        font-size: 25px;
    }

    & .end-btn:hover {
        color: rgb(145, 80, 64);
        ;
    }

}

