<header class="header-content">
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="logo">
    </div>
    <nav>
        <ul class="nav-links" [ngClass]="{'hidden-nav-links':hiddeNavLinks}">
            @for (item of listItemsNavLinks; track item.name) {
            <li><a routerLink="/{{item.link}}">{{item.name}}</a><span class="links-line"></span></li>
            }
        </ul>
    </nav>
    <div class="end-nav">
        <a><button class="end-btn" matTooltip="Buscar" (click)="openModalSearchProduct()"><mat-icon>search</mat-icon></button></a>
        <a routerLink="/auth" routerLinkActive="active"><button class="end-btn"
                matTooltip="Basic"><mat-icon>shopping_cart</mat-icon></button></a>
        <a routerLink="/auth" routerLinkActive="active"><button class="end-btn"
                matTooltip="Login"><mat-icon>person</mat-icon></button></a>
    </div>
</header>