<section class="parragraph-content">
    <h2>Nuestra Historia</h2>
    <p>Café rosita es una empresa familiar que se encuentra ubicada en el sector rural
        de Palmira, Valle del cauca. Se fundó en el año 2014 de forma empírica y totalmente artesanal. En su comienzo la
        empresa solo contaba con un motor hechizo de 1 caballo de fuerza para el proceso del trillado del grano, en el
        proceso de venteo y limpieza del grano se efectuaba de manera manual, y en el proceso de tostado y la molienda
        final del café este se hacía de manera artesanal.</p>
    <p>Inicialmente se empezó con el proceso de una arroba, de la cual, la mitad se
        regalaba como degustación para mirar la acogida que el producto podía tener en la zona, Gracias a este ensayo se
        pudo lograr vender la otra mitad restante. Es así que durante un periodo aproximado de dos años se utilizó este
        método en la empresa.</p>
</section>