.product-container {
    position: relative;
    display: flex;
    margin: 2em 0px;
    padding: 8px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;

    & .images-container {
        flex: 500px 0 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        & .img-product {
            width: 100%;
            height: auto;
        }

        & .images-row {
            padding: 8px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .image-content {
                padding: 8px;
                display: flex;
                flex: 200px 0 1;

                & img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    & .product-properties-container {
        flex: 500px 0 1;
        display: flex;
        flex-direction: column;
        gap: 1.6em;
        padding: 8px;

        & h3 {
            padding: 0px;
            margin: 0px;
        }

        & .title-product {
            text-transform: uppercase;
            font-family: "Noto Serif", serif;
            font-size: 2.2rem;
            font-weight: 500;
            font-style: normal;
            color: rgb(145, 80, 64);
        }

        & p {
            text-align: justify;
            margin: 0px;
        }

        & .label {
            padding: 6px;
            display: flex;
            justify-content: center;
            gap: 3px;
            color: var(--font-color);
            border-radius: 25px;
            font-weight: 500;
            font-style: normal;
        }

        & .label-molido {
            width: 120px;
            height: auto;
            background-color: var(--main-color);

        }

        & .label-gram {
            width: 100px;
            height: auto;
            background-color: var(--main-color);
            ;
        }

        & .amount-values {
            display: flex;
            height: 40px;

            &>button,
            input {
                flex: 1;
                text-align: center;
                font-weight: 500;
                font-style: normal;
            }

            & button {
                border: solid 1px gray;
                background-color: darkgray;
            }

            & input {
                border: solid 1px gray;
                border-width: 1px 0 1px 0px;

            }
        }

        & .btn-principal {
            margin-top: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5em;
            border-radius: 25px;
            background: rgb(145, 80, 64);
            color: white;
            font-weight: 500;
        }

        & .btn-principal:hover {
            background: #8a6f4d;
        }
    }
}


@media (min-width: 80px) and (max-width:1080px) {
    .product-container {
        flex-wrap: wrap-reverse;
    }
}