@import "variables";

/* Estilos para el contenedor principal con diseño de cuadrícula */
.grid-areas {
  position: relative;
  display: grid;
  top: 0;
  z-index: 998;
  /* width: 100%; */
  min-height: 100vh;
  background-color: $font-color;
  transition: top 0.4s ease-in;
  grid-template-columns: 1fr;
  grid-template-rows: $header-large-size 1fr 130px;
  grid-template-areas:
    "header"
    "content"
    "footer";

  /* Estilos para el encabezado */
  & .header {
    top: 0;
    position: sticky;
    grid-area: header;
    background-color: inherit;
    z-index: inherit;
  }

  /* Estilos para el pie de página */
  & .footer {
    position: relative;
    grid-area: footer;
    background-color: $main-color;
  }

  /* Estilos para el contenido */
  & .content {
    position: relative;
    grid-area: content;
    background-color: inherit;
    /* padding-top: var(--header-large-size); */
  }
}

/* Estilos para la ventana modal */
.modal-window {
  position: fixed;
  z-index: 996;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /* Estilos para la tarjeta de búsqueda dentro de la ventana modal */
  & .card-search-product {
    top: -520px;
    opacity: 0.3;
    transition: top 0.4s ease-in, opacity 0.4s ease-in;
  }
}

/* Estilos cuando la tarjeta de búsqueda está abierta */
.card-search-open {
  top: 520px;

  /* Estilos para el encabezado dentro de la tarjeta de búsqueda */
  & .header {
    position: relative;
  }
}

/* Estilos para la ventana modal cuando está abierta */
.open-modal {
  position: fixed;
  z-index: 1000;

  /* Estilos para la tarjeta de búsqueda cuando el modal está abierto */
  & .card-search-product {
    top: 0;
    opacity: 1;
  }
}

/* Media query para pantallas pequeñas (menos de 570px de ancho) */
@media (min-width: 19px) and (max-width: 570px) {
  /* Cambia el color de fondo del encabezado en pantallas pequeñas */
  .grid-areas .header {
    background-color: $main-color;
  }

  /* Estilos para la navegación cuando está abierta en pantallas pequeñas */
  .nav-open {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; /* Evita que elementos sobresalgan */
    overflow: hidden;
  }
}

/* Media query para pantallas medianas (entre 90px y 1110px de ancho) */
@media (min-width: 90px) and (max-width: 1110px) {
  /* Cambia la altura de las filas en la cuadrícula para pantallas medianas */
  .grid-areas {
    grid-template-rows: $header-short-size 1fr 130px;
  }
}
