.footer-content {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  & .social-links {

    & .btn-outline {
      color: white;
      border-color: white;
      border-width: 2px;
    }

    & .btn-outline:hover {
      color: rgb(145, 80, 64);
      background-color: white;
    }
  }

  & .company-information{
  text-align: center;
  color: white;
  }
}