<footer class="footer-content">
        <section class="social-links">
            <a class="btn btn-outline btn-floating m-1" href="https://www.facebook.com/profile.php?id=100090345553982"
                role="button"><i class="bi bi-facebook"></i></a>
            <a class="btn btn-outline btn-floating m-1"
                href="https://twitter.com/caferosita30?t=bFwQWI-itchkxIDpZ6efvQ&s=09"
                role="button"><i class="bi bi-twitter"></i></a>
            <a class="btn btn-outline btn-floating m-1"
                href="https://instagram.com/caferositadecampo?igshid=NTc4MTIwNjQ2YQ=="
                role="button"><i class="bi bi-instagram"></i></a>
        </section>
        <div class="company-information">
            © 3187957182 - 3004873227 <br>
            cafedecamporosita&#64;agmail.com
        </div>
</footer>
    
