
    <form class="form-container">
        <div class="form-group">
            <input type="text" class="form-input" formControlName="name" placeholder="Ingrese el nombre">
            <span class="form-line"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-input" formControlName="surname" placeholder="Ingrese el apellido">
            <span class="form-line"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-input" formControlName="adress" placeholder=" Ingrese la dirección">
            <span class="form-line"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-input" formControlName="phoneNumber" placeholder="Ingrese el telefono">
            <span class="form-line"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group exception">
            <input type="text" class="form-input" formControlName="email" placeholder=" Ingrese el correo electronico">
            <span class="form-line"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-input" formControlName="password" placeholder="Ingrese la contraseña">
            <span class="form-line"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-input" formControlName="confirmPassword"
                placeholder="Confirmar contraseña">
            <span class="form-line"></span>
            <span class="text-danger"></span>
        </div>

        <div class="form-group exception">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Aceptar condiciones y restricciones</label>
        </div>
        <button type="submit" class="form-submit exception">Registrarse</button>
    </form>