@import "variables";

/* Estilo de la página de inicio (home) */
.home {
  background-color: antiquewhite;
  background-image: url("/assets/images/fondoPrincipal.png");
  min-height: calc(100vh - $header-large-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;

  /* Estilo del texto dentro de home */
  & .home-text {
    flex: 650px 0 1;
    height: auto;
    padding: 5em 3em 0px;
    font-size: 1rem;
    color: $main-color;
    margin: 0.5rem 0 1.4rem;

    & h1 {
      font-weight: 500;
      font-style: normal;
    }
  }
}

/* Estilo del contenedor de historia o sección de contenido */
.history-container {
  position: relative;
  padding: 4em 8px;

  & .history-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

    /* Cada uno de los bloques dentro del contenido de la historia */
    & .text-content,
    .img-content,
    .btn-content {
      flex: 550px 0 1;
      padding: 8px;
    }

    /* Ajustes para los botones dentro de la historia */
    & .btn-content {
      display: flex;
      justify-content: center;
    }

    /* Estilo de las imágenes dentro de la historia */
    & .img-content {
      & img {
        height: auto;
        max-width: 100%;
        width: auto;
      }

      /* Si hay una clase .first-image-section, alinea la imagen en el centro */
      & .first-image-section {
        align-self: center;
      }
    }
  }
}

/* Estilo de la sección de productos */
.products-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Botón principal dentro de los productos */
.btn-principal {
  padding: 10px 40px;
  border-radius: 0.3rem;
  background: $main-color;
  color: white;
  font-weight: 500;
}

/* Efecto hover para el botón principal */
.btn-principal:hover {
  background: #8a6f4d;
}

/* Media Queries para ajustar el diseño en diferentes tamaños de pantalla */

/* Para pantallas medianas (más de 818px y hasta 1110px de ancho) */
@media (min-width: 818px) and (max-width: 1110px) {
  .home {
    background-position: bottom center;
    min-height: calc(100vh - $header-short-size);
  }
}

/* Para pantallas pequeñas (de 90px a 817px de ancho) */
@media (min-width: 90px) and (max-width: 817px) {
  .home {
    background-position: left center;
    justify-content: center;
    min-height: calc(100vh - $header-short-size);
  }
}
