
.grid-areas {
    position: relative;
    display: grid;
    background-color: #FBEED5;;;
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 1fr 130px;
    grid-template-areas:
        "header"
        "content"
        "footer";

    & .header {
        top: 0;
        position: sticky;
        grid-area: header;
        background-color: inherit;
        z-index: 999;
    }

    & .footer {
        grid-area: footer;
        background-color: rgb(145, 80, 64);
    }

    & .content {
        grid-area: content;
        background-color: inherit;
    }
}