.intro-background {
    position: relative;
    background-image: url("../../../../../assets/images/background-image-history.jpg");
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    & .title-container-background {
        flex: 1 1 500px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--font-color);

        &>* {
            font-weight: 500;
            font-style: normal;
            text-align: center;
        }

        & .title {
            font-size: 65px;
            text-transform: capitalize;
        }

        & .text-backgrond {
            font-size: 20px;
            margin: 0px;

        }
    }

    & .video-container-background {
        flex: 1 1 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        .video-content {
            width: 90%;
            height: 85%;
        }
    }

}

.section {
    position: relative;
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    gap: 12px;

    & .first-text {
        flex: 500px 0 1;
        & > *{
            font-weight: 500;
            font-style: normal;
            text-align: center;
        }
    }
    
    & .img-container {
        flex: 500px 0 1;
        display: flex;
        justify-content: center;
        & .first-image-section{
        width: 80%;
        height: auto;
        }
    }
}