<section class="intro-background">
    <div class="title-container-background">
        <h1 class="title">Cafe Rosita</h1>
        <p class="text-backgrond">Se construyó con el deseo de promover </p>
        <p class="text-backgrond">una cultura de café de la más alta calidad</p>
    </div>
    <div class="video-container-background"> 
        <div class="video-content">
            <video-product-history/>
        </div>
    </div>
</section>
<section class="section first-section">
    <parragraph-product-history class="first-text"/>
    <div class="img-container">
        <img  src="../../../../../assets/images/proceso1.jpg"  class="first-image-section">
    </div>
</section>
