
<section class="intro-background">
    <div class="title-container-background">
        <h1 class="title">Cafe Rosita</h1>
        <p class="text-backgrond">Se construyó con el deseo de promover </p>
        <p class="text-backgrond">una cultura de café de la más alta calidad</p>
    </div>
    <div class="video-container-background">
        <div class="video-content">
            <video-product-history />
        </div>
    </div>
</section>
<section class="text-history-conatiner">
    <article class="section ">
        <parragraph-product-history class="text-content" />
        <div class="img-content">
            <img src="../../../../../assets/images/proceso1.jpg" class="first-image-section">
        </div>
    </article>
    <article class="section">
        <div class="img-content">
            <img src="../../../../../assets/images/proceso2.jpg" class="second-image-section">
        </div>
        <section class="text-content">
            <p>Ya en el año 2016, gracias a la acogida por parte de la comunidad, se
                registra
                la marca “Café Rosita” y en el año 2020, gracias a la convocatoria de emprendedores por parte de la
                gobernación,
                se logra un apoyo económico, con el cual se realiza la compra de todos los accesorios y maquinaria necesaria
                para el desarrollo de la manufacturación de los productos, así mejorando la calidad del producto final sin
                distorsionar su calidad.</p>
            <p>Cabe destacar y resaltar que es un producto totalmente natural, libre de
                químicos y adictivos. Así mismo, es un producto que destaca el trabajo que realizan los caficultores de la
                misma
                zona.</p>
        </section>
    </article>
</section>