<section class="register-container">
    <section class="register-content">
        <button class="back-register-options-btn" (click)="hiddeRegisterFormWithEmail()"
            [ngClass]="{'back-register-options-btn-active':showFormRegister}"><mat-icon>arrow_back</mat-icon></button>
        <h2 class="form-title">Crear cuenta</h2>
        <app-register-options class="register-options-content"
            [ngClass]="{'register-options-content-active':showFormRegister}"
            (showFormRegisterWithEmail)="showFormRegister = $event" />
        <app-register-form class="register-form-content"
            [ngClass]="{'register-form-content-active':showFormRegister}" />
        <label class="form-paragraph">¿Ya tienes una cuenta? <a class="form-link" routerLink="/auth/login"
                routerLinkActive="active">Inicia sesión</a></label>
    </section>
</section>